In [1]:
# 586. Customer Placing the Largest Number of Orders

select customer_number from Orders
group by customer_number
order by count(*) desc
limit 1

SyntaxError: invalid syntax (<ipython-input-1-9c00f2f67ab2>, line 3)

In [ ]:
# 607. Sales Person

select S.name from SalesPerson S
where S.sales_id  not in (select O.sales_id from Orders O
                         join Company C on C.com_id = O.com_id
                         where C.name = 'Red'
                        )

In [ ]:
#1068. Product Sales Analysis I

select P.product_name, S.year, S.price from Sales S
 join Product P on S.product_id = P.product_id

In [ ]:
# 1075. Project Employees I

select P.project_id, round(avg(E.experience_years),2) as average_years from Project P
join Employee E on P.employee_id = E.employee_id
group by P.project_id

In [ ]:
# 1076. Project Employees II

#Write an SQL query that reports all the projects that have the most employees.

#Return the result table in any order.

#The query result format is in the following example.

SELECT 
    project_id
FROM 
    Project
GROUP BY 
    project_id
HAVING 
    COUNT(*) = (SELECT COUNT(*) c
        FROM Project
        GROUP BY project_id
        ORDER BY c DESC
        LIMIT 1);